.main {
    width: 100%;
    height: auto;
    @include flex( row, center, center );
    

    &__container {
        width: 65rem;
        height: 26rem;
        background-color: lightblue;
        padding-bottom: 2rem;
        border: 2px solid $color-gray;
        border-radius: 1rem;
    }
}

.section {
    width: 100%;
    padding: 1.6rem;

    &--top {
        @include flex( row, space-between, center );
    }

    &--middle {

    }

    &--bottom {

    }
}